{% extends "employee/base.html" %}
{% block body_main %}
<p> Штатные расписания:
{% for object in object_list %}
<a href="{{ url_for('stafflist_view', object.id) }}"> {{ object.begdate|date }} </a>
{% endfor %}
</p>
{% endblock %}
