<form method="post" action="{% url django.contrib.auth.views.login %}">
	{% csrf_token %}
	<table>
		{{ form.as_table }}
	</table>
	<button type="submit"> Войти </button>
	<a href="{% url index %}"> <button type="button"> Не войти </button> </a>
	<input type="hidden" name="next" value="{{ next }}" />
</form>
