{% extends "patient/base.html" %}
{% block title %} {{ super() }}: Пациенты {% endblock %}
{% block header %}
  {% set pager_url = url_for('patient.views.patient_list') %}
  {% set pager_title = 'Пациенты' %}
  {% include "paginator.html" with context %}
{% endblock %}
 
{% block body_main %}
 {% for object in object_list %}
  <p style="padding: 0; margin: 0"> <a href="{{ url_for('patient.views.patient_detail', object.pk) }}"> {{ object }} </a> </p>
 {% endfor %}
{% endblock %}
