{% extends "core/base.html" %}
{% block css %}
table {
	padding: 0px;
    border: 1px solid grey;
    border-collapse: collapse;
}
tr.border {
    border: 1px solid grey
}
button {
    padding: 0;
}
a {
    text-decoration: none;
}
.ptr {
    cursor: pointer;
}
{% endblock %}
{% block title %} Людь: {{ object.person }} {% endblock %}
{% block header %} <a href="{{ url_for('core.views.person_list %}"> Людь </a> {% endblock %}
{% block body_main %}
<table class="border">
    <tr>
        <td> ID: </td>
        <td> {{ object.pk }} </td>
        <td rowspan="7" valign="top" align="right">
            <img class="ptr" src="{{ STATIC_URL }}img/16/edit-delete.png" alt="Delete" onClick="{{ url_for('person_delete') object.pk) }})"/>
            <a href="{{ url_for('person_update', object.pk }}"> {% include "img_edit.html" %} </a>
        </td>
    </tr>
    <tr>
        <td> Фамилия: </td>
        <td> {{ object.lastname }} </td>
    </tr>
    <tr>
        <td> Имя: </td>
        <td> {{ object.firstname }} </td>
    </tr>
    <tr>
        <td> Отчество: </td>
        <td> {{ object.midname }} </td>
    </tr>
    <tr>
        <td> Пол: </td>
        <td> {{ object.gender }} </td>
    </tr>
    <tr>
        <td> Дата рождения: </td>
        <td> {{ object.birthdate|date:"d/m/Y" }} </td>
    </tr>
    <tr>
        <td> Место рождения: </td>
        <td> {{ object.birthplace }} </td>
    </tr>
    <tr>
        <td> Известен как: </td>
        <td>
            {% if object.patient %}
                <a href="{{ object.patient.get_absolute_url }}"> Пациент </a>
            {% else %}
                никак
            {% endif %}
        </td>
    </tr>
</table>
<br/>
<table>
    {# subs #}
    <tr class="bt" bgcolor="silver">
        <td/>
        <td>
            <button type="button"> {% include "img_del.html" %} </button>
            <select>
                <option> Адрес </option>
                <option> Телефон </option>
                <option> Эпочта </option>
                <option> Документ </option>
                <option> Код </option>
            </select>
            <a href=""> <button type="button"> {% include "img_add.html" %} </button> </a>
        </td>
    </tr>
    <tr class="bt">
        <td>
            Адреса:
           <a href="{{ url_for('person_create_address object.pk %}"> {% include "img_add.html" %} </a>
        </td>
        <td> {% for i in object.addresses.all %} <p>
            <img src="{{ STATIC_URL }}img/16/list-remove.png" alt="Delete" onClick="confirmDelete('{{ url_for('person_delete_address i.pk %}')"/>
            <a href="{{ url_for('person_update_address i.pk %}"> {% include "img_edit.html" %} </a>
            {{ i }}
        </p> {% endfor %} </td>
    </tr>
    <tr class="bt">
        <td>
            Телефоны:
            <a href="{{ url_for('person_create_phone object.pk %}"> {% include "img_add.html" %} </a>
        </td>
        <td> {% for i in object.phones.all %} <p>
            <img src="{{ STATIC_URL }}img/16/list-remove.png" alt="Delete" onClick="confirmDelete('{{ url_for('person_delete_phone i.pk %}')"/>
            <a href="{{ url_for('person_update_phone i.pk %}"> {% include "img_edit.html" %} </a>
            {{ i }}
        </p> {% endfor %} </td>
    </tr>
    <tr class="bt">
        <td>
            <a href="{{ url_for('person_create_email object.pk %}"> {% include "img_add.html" %} </a>
            Епочты:
        </td>
        <td> {% for i in object.emails.all %} <p>
            <input type="checkbox"/>
            <a href="{{ url_for('person_update_email i.pk %}"> {% include "img_edit.html" %} </a>
            <a href="mailto:{{ i }}"> {{ i }} </a>
        </p> {% endfor %} </td>
    </tr>
    <tr class="bt">
        <td>
            <a href="{{ url_for('person_create_document object.pk %}"> {% include "img_add.html" %} </a>
            Документы:
        </td>
        <td> {% for i in object.documents.all %} <p>
            <input type="checkbox"/>
            <a href="{{ url_for('person_update_document i.pk %}"> {% include "img_edit.html" %} </a>
            {{ i }}
        </p> {% endfor %} </td>
    </tr>
    <tr class="bt">
        <td>
            Коды:
            <!--a href="{{ url_for('person_create_code object.pk %}"> {% include "img_add.html" %} </a-->
        </td>
        <td> {% for i in object.codes.all %} <p>
            <input type="checkbox"/>
            <a href="{{ url_for('person_update_code i.pk %}"> {% include "img_edit.html" %} </a>
            {{ i }}
        </p> {% endfor %} </td>
    </tr>
</table>
<pre> {# include "hig.txt" #} </pre>
{% endblock %}
