{% extends "pure.html" %}
{% block body_main %}
<form action="" method="post">
{% csrf_token %}
<table class="border">
{{ form.as_table }}
</table>
<button type="submit"> OK </button>
<a href="{{ cancelurl }}"> <button type="button"> Cancel </button> </a>
</form>
{% endblock %}
