svg #svgbg {
    fill: silver;   /* main svg */
    stroke-width: 1;
    stroke: black;
}
svg g.head > line {
    stroke: yellow;
    stroke-width: 1;
}
svg g.head text {
    fill: black;
}
svg g.hcenter text {
    text-anchor: middle;
}
svg g.occupy rect {
    fill: lightgrey;
    stroke: blue;
    stroke-width: 1px;
}
svg g.occupy text {
    fill: black;
    text-anchor: middle;
    font-family: serif;
    font-size: 11pt;
}
svg g.doccupy rect {
    fill: grey;
    stroke: royalblue;
    stroke-width: 1px;
    fill-opacity: 0.75;
}
svg g.doccupy text {
    fill: black;
    text-anchor: middle;
    font-family: sans serif;
    font-size: 10pt;
}
