{% extends "employee/base.html" %}
{% block title %} {{ super() }}: Сотрудники {% endblock %}
{% block header %}
  {% set pager_url = url_for('employee.views.employee_list') %}
  {% set pager_title = 'Сотрудники' %}
  {% include "paginator.html" with context %}
{% endblock %}
 
{% block body_main %}
 {% for object in object_list %}
  <p style="padding: 0; margin: 0"> <a href="{{ url_for('employee.views.employee_view', object.pk) }}"> {{ object }} </a> </p>
 {% endfor %}
{% endblock %}
