{#Режим просмотра всех "слотов" занятости кабинетов. Можно добавить новый слот (форма вверху). Для изменения/удаления слота или врача в нем кликните по нужному прямоугольнику.#}
{% extends "employee/rs_base.html" %}
{% block title %} График занятости кабинета {% endblock %}
{% block header %} График занятости кабинета № {{ room.pk }} {% endblock %}
{% block rs_head %}
  <p class="colselector">
  {% for i in rooms %}
    {% if i == room %}
      <span class="active">{{ i }}</span>
    {% else %}
      <span><a href="{{ url_for('rs_room', rs.id, i.pk) }}">{{ i }}</a></span>
    {% endif %}
  {% endfor %}
  (с {{ rs.begdate|date }})
  </p>
{% endblock %}
{% block rs_leftmenu %}
  {% block rs %}
  <form method="post" action=".">
    {{ form_rse.non_field_errors() }}
    {% for hidden in form_rse.hidden_fields() %}
      {{ hidden }}
    {% endfor %}
    <table>
      <tr>
        <td> {{ form_rse.dow }} </td>
        <td class="hhmm"> {{ form_rse.begtime }} </td>
        <td> - </td>
        <td class="hhmm"> {{ form_rse.endtime }} </td>
      </tr>
      <tr>
        <td> </td>
        <td> {{ form_rse.begtime.errors }} </td>
        <td> </td>
        <td> {{ form_rse.endtime.errors }} </td>
      </tr>
      <tr>
        <td colspan="4"> {{ form_rse.specialty }} </td>
      </tr>
    </table>
    <button type="submit" title="Add/Save" name="submit_rse"> &radic; </button>
    <a href="."> <button type="button" title="Cancel/Clear"> x </button> </a>
    {% block delbutton %}
    {% endblock %}
  </form>
  {% endblock %}
  {% block docs %}
  {% endblock %}
{% endblock %}

{% block svg %}
    {{ svg_room(room) }}
{% endblock %}
