{% extends "base.html" %}
{% block css %}
#mainmenu {
  border-collapse: separate;
	width: 100%;
	height: 100%;
	text-align: center;
}
/*#mainmenu tr th { width: 25%;}*/
#mainmenu tr td {
  border: none;
	margin: 1px;
  height: 100%;
}
/*#mainmenu tr td a { height: 100%; }*/
#mainmenu tr td a button {
  /*height: 100%;*/
  padding: 1em;
  width: 100%;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#mainmenu a:link {
	color: black;
  text-decoration: none;
}
#mainmenu a:visited {
  color: black;
  text-decoration: none;
}
{% endblock %}
{% block body_main %}
<table id="mainmenu" class="thick">
  <tr>
    <th> Регистратура </th>
    <th colspan="3"> ??? </th>
    <th colspan="3"> Структура </th>
    <th> Справочники </th>
  </tr>
  <tr>
    <td> <a href="{{ url_for('patient_list') }}"> <button type="button"> Пациенты </button> </a> </td>
    <td colspan="3"> <a href="{{ url_for('stafflist_list') }}"> <button type="button"> Штатное расписание </button> </a> </td>
    <td colspan="3"> <a href="{{ url_for('employee_list') }}"> <button type="button"> Сотрудники </button> </a> </td>
    <td> <a href="{{ url_for('ref.views.pmu_list') }}"> <button type="button"> ПМУ </button> </a> </td>
  </tr>
  <tr>
    <td> <a href="{{ url_for('employee.views.ticket_table_auto') }}"> <button type="button"> Талоны </button> </a> </td>
    <td colspan="3"> <a href=""> <button type="button" disabled="disabled"> График кабинетов: </button> </a> </td>
    <td colspan="3"> <a href=""> <button type="button" disabled="disabled"> Отделы </button> </a> </td>
    <td> <a href=""> <button type="button" disabled="disabled"> МКБ </button> </a> </td>
  </tr>
  <tr>
    <td> <a href=""> <button type="button" disabled="disabled"> Журнал </button> </a> </td>
    <td> <a href="{{ url_for('employee.views.rs_room_auto') }}"> <button type="button"> Кабинет </button> </a> </td>
    <td> <a href="{{ url_for('employee.views.rs_dow_auto') }}"> <button type="button"> День </button> </a> </td>
    <td> <a href=""> <button type="button" disabled="disabled"> Врач </button> </a> </td>
    <td> <a href=""> <button type="button" disabled="disabled"> Специальности </button> </a> </td>
    <td> <a href=""> <button type="button" disabled="disabled"> Кабинеты </button> </a> </td>
    <td> <a href=""> <button type="button" disabled="disabled"> Врачи </button> </a> </td>
    <td> <a href="{{ url_for('core.views.person_list') }}"> <button type="button"> Люди </button> </a> </td>
  </tr>
</table>
{% endblock %}
