{% load static %}
{% get_static_prefix as STATIC_URL %}
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
{% block body_main %}
{% endblock %}
</body>
</html>
