{% extends "employee/base.html" %}
{% block js %}
  <script type="text/javascript">
      function refresh_svg() {
        var svg=document.getElementById("thesvg");
        svg.height.baseVal.value = document.getElementsByTagName("body")[0].getBoundingClientRect().bottom - svg.getBoundingClientRect().top - 4;
      }
  </script>
{% endblock %}
{% block jsready %}
    {{ super() }}
    refresh_svg();
    document.getElementsByTagName("body")[0].setAttribute('onresize', 'refresh_svg();');
{% endblock %}
{% block css %}
    {{ super() }}
    svg #svgbg {
        fill: silver;
        stroke-width: 1;
        stroke: black;
    }
    svg g.head > line {
        stroke: yellow;
        stroke-width: 1;
    }
    svg g.head text {
        fill: black;
    }
    svg g.hcenter text {
        text-anchor: middle;
    }
    svg g.occupy rect {
        fill: lightgrey;
        stroke: blue;
        stroke-width: 1;
    }
    svg g.occupy text {
        fill: black;
        text-anchor: middle;
    }
{% endblock %}
{% block body_main %}
  <div id="topmenu">
    <center>
    {% block rs_head %}
    {% endblock %}
    </center>
  </div>
  <table id="thetable">
    <tr>
      <td id="leftmenu" class="thecell" valign="top">
        <p> Left <br/> menu </p>
        {% block rs_leftmenu %}
        {% endblock %}
      </td>
      <td id="canvas" class="thecell">  <!-- set height="1234" for compatibility-->
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" id="thesvg" height="100" onload="refresh_svg();">
  <rect id="svgbg" width="100%" height="100%"/>
  <g class="head">
    <!-- vertical grid -->
    {% set hx = 9 %}
    {% set dx = (100 - hx)/(hend - hbeg) %}
    {% for i in range(hend - hbeg) %}
      {% set x = hx + (loop.index0 * dx) %}
      <line x1="{{x}}%" y1="0" x2="{{x}}%" y2="100%"/>
      <g class="hcenter">
        <text x="{{x+(dx/2.0)}}%" y="0"><tspan dy="1.5ex"> {{i+hbeg}}:00 </tspan></text>
      </g>
    {% endfor %}
    <!-- horizontal grid:  -->
    {% set hy = 9 %}
    {% set dy = (100 - hy)/rows %}
    {% block rs_hgrid scoped %}
    {% endblock %}
  </g>
  <!-- x = 9% + (((beg/60) - 8) * 6.5%); y = 9% + ((dow-1) * 13%) -->
</svg>
{% endblock %}
